body{
	background-image: url("https://c.wallhere.com/photos/b4/0f/anime_anime_boys_stars_Cowboy_Bebop_dark_purple_background_fan_art_simple_background-1398741.jpg!d");
}

.container{
	background-color: rgba(255, 255, 255, 0.4);
	margin-top: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 5px; 
}



